{{#each users}}
{{#each projects}}
 {{!-- this div is fine --}}
    <div    
      class='pt-0 w-96 m-2 px-3 py-4 border-gray-700 rounded-lg bg-gray-700 shadow-lg' 
    >
 {{!-- this div is fine  --}}
    <div class='p-2 pt-0 mb-6 block border-b-4 flex justify-between items-center'>
     <div data-project-id={{id}} id='project'
        class='text-3xl text-center font-medium drop-shadow-xl text-gray-100'
      >{{project_title}}</div>
   
 {{!-- this div is fine  --}}
    <div
      class='m-2 p-2 border border-gray-700 rounded-lg bg-gray-700 shadow-lg'
    >
      <button
      id="headingBtn"
        data-headingbtn-id={{id}}
        class='text-4xl text-center font-bold drop-shadow-xl text-white'
      >+</button>
    </div>

    </div>

{{> editSubmit title='project'}}

{{> sub_projects }}  

{{> headingSubmit title='Heading' hidden='hidden' }}   
    </div>
  {{/each}}
{{/each}}

  

<script src='/javascript/HeadingPlusBtn.js'></script>
<script src='/javascript/setVar.js'></script>