<div data-hiddenheading-id={{id}} id='headingSubmitForm' class='hidden mb-2'>
  <input
    id='heading_title'
    data-headingtitle-id={{id}}
    type='text'
    class='block text-xl post-title-input w-full p-4 text-gray-700 border rounded-lg sm:text-md bg-cyan-700-w'
    placeholder='Heading title'
  />
  <div class='pt-2 pl-3 pb-4 flex justify-end'>
    <button
      id='headingSubmit'
      data-headingsubmit-id={{id}}
      type='submit'
      class='create-btn bg-blue-500 hover:bg-blue-700 text-white font-normal py-1 px-4 rounded'
    >Submit</button>
  </div>
</div>