<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>{{ title }}</title>
</head>
<body class="h-14 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600">
    
    {{{ body }}}

</body>
</html>

