<body class='font-sans'>
  <header>
    <nav
      class='flex flex-wrap items-center justify-between w-full py-6 md:py-4 px-6 text-lg text-gray-700 bg-gray-800'
    >
      <div>
        <a href='/' aria-label='Home'>
          <span class='text-xl font-thin drop-shadow-xl pl-6 text-white'><i
              class=''
            ></i>Home</span>
        </a>
      </div>

      <div>
        <span class='text-xl font-thin drop-shadow-xl text-white'>Task Manager</span>
      </div>

      <!-- Hamburger Icon -->
      <svg
        xmlns='<http://www.w3.org/2000/svg>'
        id='menu-button'
        class='h-6 w-6 cursor-pointer md:hidden block'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M4 6h16M4 12h16M4 18h16'
        ></path>
      </svg>

      <!--menu -->

      <div class='hidden w-full md:flex md:items-center md:w-auto' id='menu'>
        <ul
          class='text-base text-gray-700 pt-4 md:flex md:justify-between md:pt-0'
        >
          <li>
            <a
              id='logout'
              href='#'
              class='p-2 text-white hover:bg-gray-300 text-xl font-thin drop-shadow-xl no-underline hover:no-underline block'
            ><i class='fas fa-sign-out-alt fa-fw'></i>Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    
    <div class='flex w-full justify-start flex-wrap'>
       {{> addHeadings }}


{{!-- Add new project, headings, tasks --}}     
    <div
      class='w-96 pt-0 m-2 px-3 py-4 border-gray-700 rounded-lg bg-gray-700 shadow-lg'>
   
  
    {{> newProject }}

    {{!-- {{> plusBtn title='Heading' hidden='hidden' }} 

    {{> plusBtn title='Task' hidden='hidden'}} --}}

  </div>

<script src='/javascript/add-project.js'></script>
<script src='/javascript/add-task.js'></script>
<script src='/javascript/dashboard.js'></script>
<script src='/javascript/logout.js'></script>
<script src='/javascript/addTime.js'></script>
    
</body>