<body class="font-sans">
    <header>
        <nav class="flex flex-wrap items-center justify-between w-full py-6 md:py-4 px-6 text-lg text-gray-700 bg-gray-800">
          <div>
            <a href='/' aria-label='Home'>
                <span class='text-xl font-thin drop-shadow-xl pl-6 text-white'><i
                    class=''
                  ></i>Home</span>
              </a>
          </div>
          
           <div>
             <span class="text-xl font-thin drop-shadow-xl text-white">Task Manager</span>
          </div>
          
          
          <!-- Hamburger Icon -->
          <svg xmlns="<http://www.w3.org/2000/svg>" id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          
      <!--menu -->
          
          <div class="hidden w-full md:flex md:items-center md:w-auto " id="menu">
            <ul class="text-base text-gray-700 pt-4 md:flex md:justify-between md:pt-0">
              <li>
                <a id='logout' href='#' class='p-2 text-white hover:bg-gray-300 text-xl font-thin drop-shadow-xl no-underline hover:no-underline block'><i class='fas fa-sign-out-alt fa-fw'></i>Log Out</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    
    <div class="md:flex mb-4 ml-7 mt-10 mr-7 rounded mx-auto">
    
      <div class="w-full lg:w-1/5 rounded overflow-hidden   relative flex flex-col">
         <form class='bg-gray-700 rounded-lg new-post-form' id="new-project-form">
    
            <div class='mb-6 ml-3 mr-3 pt-4'>
              <span
                class='text-neutral-100	 pl-2 pb-3 text-2xl text-center font-thin drop-shadow-xl'
              >Project</span>
              <br />
    
              <input
                id="project_title"
                type='text'
                class='block post-title-input w-full p-4 text-gray-900 border rounded-lg bg- sm:text-md focus:ring-blue-500 focus:border-blue-500 bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
                placeholder='Project Title'
              />
            </div>
            <div class='mb-6 ml-3 mr-3'>
              <span
                class='text-neutral-100	 pl-2 pb-4 pt-2 text-2xl text-center font-thin drop-shadow-xl'
              >Heading</span>
              <br />
              <input
                id="heading_title"
                type='text'
                class='block w-full p-4  text-gray-900 border rounded-lg bg- sm:text-md focus:ring-blue-500 focus:border-blue-500 bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
                placeholder='Heading Title'
              />
            </div>
            <div class='mb-6 ml-3 mr-3'>
              <span
                class='text-neutral-100	pl-2 pb-3 text-2xl text-center font-thin drop-shadow-xl'
              >Task</span>
              <br />
              <input
                id="desc"
                type='text'
                class='mb-6 block w-full p-4 text-gray-900 border rounded-lg bg- sm:text-md focus:ring-blue-500 focus:border-blue-500 bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
                placeholder='Description'
              />
              <input
                id="time"
                type='text'
                class='block w-full p-4 text-gray-900 border rounded-lg bg- sm:text-md focus:ring-blue-500 focus:border-blue-500 bg-transparent dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
                placeholder='Time'
              />
            </div>
    
            <div class='pl-3 pb-4'>
              <button
                type='submit'
                class='create-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'
              >Create</button>
            </div>
    
          </form>
      </div>
    
      <div class="w-full lg:w-1/4 rounded overflow-hidden mt-10 ml-3">
       <div class='m-2 pt-2 pl-6 pb-6 border border-gray-700 rounded-lg bg-gray-700 shadow-lg'>
            <span
              class='pl-2 pb-3 text-2xl text-center font-thin drop-shadow-xl text-white'
            >Project Title</span>
            <br/>
    
            <div class='pl-6 bg-cyan-700 mt-3 mb-6 block w-7/12 p-4 border rounded-lg '><span class="text-3xl text-white sm:text-md font-light">Heading Title</span></div>
    
            <div
              class='text-3xl bg-sky-500 mt-3 mb-6 block w-10/12 p-4 text-white border rounded-lg sm:text-md font-light'>
              <span class='pr-3 mr-3'>Task description</span><span class='ml-3 pl-3'>Time</span>
            </div>
             <div class='text-gray-400 text-lg'><a href='#'>Edit Task</a></div>
             <div class='text-gray-400'><a href='#'><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg></a></div>
            
          </div>
        </div>
        
        <div class="rounded overflow-hidden mt-10 mr-3">
            <div class='m-2 pt-2 p-5 border border-gray-700 rounded-lg bg-gray-700 shadow-lg'>
            <button class='text-4xl text-center font-bold drop-shadow-xl text-white'>+</button>
            </div>
        </div>  
        
    </div>
    
      
    
    <script src='/javascript/add-project.js'></script>
    <script src='/javascript/dashboard.js'></script>
    <script src='/javascript/logout.js'></script>
    
</body>