    <h1>Hello World!</h1>
    <p>welcome to my app</p>

    <div class="flex justify-center min-h-screen items-center">
  <div class="w-1/4 p-4">
    <div class="relative pb-[200%]">
      <img
        class="absolute h-full object-cover rounded-lg shadow-md"
        src="https://m.media-amazon.com/images/M/MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_FMjpg_UX1000_.jpg"
      />
    </div>
    <div class="px-4 -mt-8 relative z-10">
      <div class="bg-white p-6 shadow-xl rounded-lg">
        <h2 class="text-red-600">Deadpool</h2>
      </div>
    </div>
  </div>
