<div class=" h-screen w-screen">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
        <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
            <div class="flex flex-col w-full md:w-1/2 p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <h1 class="text-4xl text-center font-thin">Welcome !</h1>
                    <div class="w-full mt-4">
                        <form class="form-horizontal w-3/4 mx-auto" method="POST" action="#">
                            <div class="flex flex-col mt-4">
                                <input id="firstName" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="name" value="" placeholder="First Name">
                            </div>
                            <div class="flex flex-col mt-4">
                                <input id="lastName" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="name" value="" placeholder="Last Name">
                            </div>
                            <div class="flex flex-col mt-4">
                                <input id="email" type="text" class="flex-grow h-8 px-2 border rounded border-grey-400" name="email" value="" placeholder="Email">
                            </div>
                            <div class="flex flex-col mt-4">
                                <input id="password" type="password" class="flex-grow h-8 px-2 rounded border border-grey-400" name="password" required placeholder="Password">
                            </div>
                            <div class="flex flex-col mt-8">
                                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded">
                                    Submit
                                </button>
                            </div>
                        </form>
                        <div class="text-center mt-4">
                            <p class="text-black drop-shadow-xl	">Already have an account? <a href="/login" class="hover:underline  drop-shadow-xl">Login</a>.</p>
                        </div>
                    </div>
                </div>
                <span class="text-gray-500"><a href="/">BACK</a></span>
            </div>
            <div class="hidden md:block md:w-1/2 rounded-r-lg" style="background: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170'); background-size: cover; background-position: center center;"></div>
        </div>
    </div>
</div>


